    body {
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 30px;
        color: #000000;
        background-color: #ffffff;
        background-image: url("/device/images/background.png");
        background-position: top left;
        background-repeat: repeat;
    }
    .visually-hidden {
        display: none;
    }
    /* Размечаем Header */
    a {
        text-decoration: none;
    }
    .navigation::before {
        content: "";
        background-color: #f7e296;
        width: 1160px;
        height: 299px;
        position: absolute;
        margin-left: 140px;
        margin-top: 40px;
        z-index: -1;
    }
    .main-header-logo {
        width: 168px;
        height: 47px;
        margin-top: 15px;
        margin-left: 197px;
        margin-bottom: 0px;
        position: absolute;
        z-index: 1;
    }
    .main-navigation .site-navigation {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
    }
    .main-navigation .user-navigation {
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 30px;
    }
    .submenu .catalog-item {
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 36px;
        color: #000000;
        text-transform: none;
        z-index: 2;
    }
    
    /* отменяем маркеры */
    .site-navigation,
    .user-navigation,
    .submenu {
        list-style: none;
    }

    /* меняем цвет ссылкам */
    .site-navigation a,
    .user-navigation a {
        color: #000000;
    }

    /* Делаем ссылки интерактивными */
    .site-navigation a:hover,
    .site-navigation a:focus,
    .user-navigation a:hover,
    .user-navigation a:focus {
        color: #00000060;
    }
    .search.current .search {
        color: #00000030;
    }
    .search.current .search:hover,
    .search.current .search:focus {
        color: #00000060;
    }
    .site-navigation a:active,
    .user-navigation a:active {
        color: #00000030
    }
   
    .submenu::before {
        content: "";
        background-color: #f7e296;
        min-width: 1160px;
        height: 129px;
        position: absolute;
        margin-left: -60px;
        z-index: 1;
    }
        /* делаем выпадающее меню */
    li.catalog ul.submenu {
        display: none;
    }
    li.catalog:hover ul.submenu {
        display: flex;
    }
    /* Размечаем Main */
    .slide-navigation .current1 {
        list-style: none;
    }
    .slide-navigation .current2 {
        list-style: none;
    }
    .slide-navigation .current3 {
        list-style: none;
    }
    .slide h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 56px;
        width: 560px;
        height: 128px;
    }
    .slide .slide-text {
        width: 557px;
        height: 70px;
    }
    .slide a {
        color: #000000;
    }
    .slide .details a {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    /* Добавляем псевдоэлемент, рисуем линию */
    .layer .details::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 220px;
        height: 8px;
    }
    .layer:hover .details::before {
        display: block;
        height: 40px;
    }
    .slide p.slide-number {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 179.2px;
        font-weight: bold;
        line-height: 179.2px;
        color: black;
        z-index: 0;
    }
    .slide .slide-value td {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 36px;
        font-weight: lighter;
        line-height: 48px;
        margin: 0;
        padding: 0;
    }
    .slide .slide-feature td {
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 13px;
        font-weight: lighter;
        line-height: 20px;
    }
    #slider2, #slider3 {
        display: none;
    }

    /* Размечаем Popular-list */
    .popular-list {
        list-style: none;
    }
    .popular-list a {
        color: #000000;
    }
    .popular-list p {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
    }        
   .popular-item-1::before {
        content: " ";
        background-image: url("/device/images/Layer-popular.png");
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -1;
        }
    .popular-item-2::before {
        content: " ";
        background-image: url("/device/images/Layer-popular.png");
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        /* width: 160px;
        height: 160px; */
        position: absolute;
        /* left: 340px;
        top: 820px; */
        z-index: -1;
    }
    /* .popular-item-3  p {  */
        /* position: absolute; */
        /* left: 540px;
        top: 1012px; */
    /* } */
    .popular-item-3 a.image {
        /* position: absolute; */
        /* left: 589px; 
        top: 858px; */
    }
    .popular-item-3::before {
        content: " ";
        background-image: url("/device/images/Layer-popular.png");
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        /* left: 540px;
        top: 820px; */
        z-index: -1;
    }
    /* .popular-item-4 p { */
        /* position: absolute; */
        /* left: 740px;
        top: 1012px; */
    .popular-item-4 a.image {
        /* position: absolute; */
        /* left: 768px; 
        top: 870px; */
    }
    .popular-item-4::before {
        content: " ";
        background-image: url("/device/images/Layer-popular.png");
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        /* left: 740px;
        top: 820px; */
        z-index: -1;
    }
    /* .popular-item-5 p { */
        /* position: absolute; */
        /* left: 940px;
        top: 1012px; */
    /* } */
    .popular-item-5 a.image {
        /* position: absolute; */
        /* left: 995px; 
        top: 852px; */
    }
    .popular-item-5::before {
        content: " ";
        background-image: url("/device/images/Layer-popular.png");
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        /* left: 940px;
        top: 820px; */
        z-index: -1;
    }
    /* .popular-item-6 p { */
        /* position: absolute; */
        /* left: 1140px;
        top: 1012px; */
    /* } */
    .popular-item-6 a.image {
        /* position: absolute; */
        /* left: 1153px; 
        top: 869px; */
    }
    .popular-item-6::before {
        content: " ";
        background-image: url("/device/images/Layer-popular.png");
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        /* left: 1140px;
        top: 820px; */
        z-index: -1;
    }
    /* Размечаем секцию сервиса */
    #warranty,
    #credit {
        display: none;
    }
    .service-list {
        list-style: none;
    }
    .service a {
        text-decoration: none;
        color: #000000;
    }
    .service h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 48px;
        color: #000000;
        /* position: absolute; */
        /* top: 1221px;
        left: 541px; */
    }
    .service-list a {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
        word-spacing: 48px;
        /* position: absolute; */
        /* top: 1234px;
        left: 163px; */
        /* text-align: center; */
    }
    li.service-item a.delivery::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 160px;
        height: 8px;
        /* top: 1238px;
        left: 140px; */
        z-index: -1;
    }
    li.service-item:hover a.delivery::before {
        height: 40px;
        /* left: 140px;
        top: 1238px; */
    }
    li.service-item a.warranty::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 160px;
        height: 8px;
        z-index: -1;
        /* top: 1302px;
        left: 140px; */
    }
    li.service-item:hover a.warranty::before {
        height: 40px;
        /* left: 140px;
        top: 1302px; */
    }
    li.service-item a.credit::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 160px;
        height: 8px;
        z-index: -1;
        /* top: 1366px;
        left: 140px; */
    }
    li.service-item:hover a.credit::before {
        display: flex;
        height: 40px;
        /* left: 140px;
        top: 1366px; */
    }
    /* Вертикальная линия */
    .service ul.service-list::before {
        content: " ";
        background-color: #000000;
        position: absolute;
        width: 7px;
        height: 319px;
        margin-left: 280px;
        padding-left: 0;
        /* top: 1142px;
        left: 417px; */
    }
    /* Подложка на всю ширину */
    .service::before {
        content: " ";
        background-color: #e5e5e5;
        position: absolute;
        width: 1445px;
        height: 288px;
        z-index: -1;
        /* top: 1242px;
        left: 0px; */
    }
    /* Размечаем логотипы партнеров */
    .partners-logo ul {
        list-style: none;
    }
    .partners-logo .logo-1 {
        /* display: block; */
        background-color: #ffffff ;
        opacity: 20%;
        filter: grayscale(100%);
    }
    .partners-logo .logo-1:hover, 
    .partners-logo .logo-1:focus {
        filter: grayscale(0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    .partners-logo .logo-2 {
        filter: grayscale (100%);
        background-color: #ffffff;
        opacity: 20%;
    }
    .partners-logo .logo-2:hover, 
    .partners-logo .logo-2:focus {
        filter: grayscale (0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    .partners-logo .logo-3 {
        filter: grayscale (100%);
        background-color: #ffffff;
        opacity: 20%;
    }
    .partners-logo .logo-3:hover, 
    .partners-logo .logo-3:focus {
        filter: grayscale (0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    .partners-logo .logo-4 {
        filter: grayscale(100%);
        background-color: #ffffff;
        opacity: 20%;
    }
    .partners-logo .logo-4:hover, 
    .partners-logo .logo-4:focus {
        filter: grayscale (0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    /* размечаем контактную  информацию */
    .about-us ul{
        list-style: none;
        text-align: left;
    }

    .about-us h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 48px;
        width: 132px;
        height: 52px;
    }
    .about-us .about-us{
        width: 463px;
        height: 317px;
        color: #464646;
    }
    .about-us .details-about-us {
        font-family: "Gilroy", "Arial", sans;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .about-us .details-about-us::before {
        content: "";
        background-color: #f0c52e;
        width:  260px;
        height: 8px;
        position: absolute;
    }
    .about-us:hover .details-about-us::before,
    .about-us:focus .details-about-us::before {
        display: block;
        height: 40px;
    }
    .contacts h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 48px;
        width: 220px;
        height: 52px;
    }
    .contacts p.text {
        color: #464646;
        width: 562px;
        height: 89px;
    }
    .contacts .write-us {
        font-family: "Gilroy", "Arial", sans;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .contacts .write-us::before {
        content: "";
        background-color: #f0c52e;
        width:  260px;
        height: 8px;
        position: absolute;
    }
    .contacts:hover .write-us::before {
        display: block;
        height: 40px;
    }

    /* Размечаем FOOTER  */
.main-footer ul {
    list-style: none;
}
.main-footer a {
    color: #ffffff;
}
.main-footer {
    color: #ffffff;
    background-color: #464646;
    background-image: url("\device\images\background-footer.png");
    background-position: 0 0;
    background-repeat: repeat;
}
.main-footer .footer-contact-adress,
.main-footer .footer-contact-tel {
    width: 261px;
    height: 22px;
}
.main-footer-navigation .main-footer-navigation{
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 124px;
    height: 20px;
}
.user-footer-navigation .user-navigation {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 36px;
    width: 120px;
    height: 16px;
}
.main-footer .footer-social {
    opacity: 30%;
}
.main-footer .footer-copyright::before {
    content: " ";
    background-color: #ffcc00;
    width: 80px;
    height: 7px;
    position: absolute;
}

/* Стилизация модальных окон */
.modal {
    list-style: none;
    background-color: #ffffff;
    background-color: transparent;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.modal a {
    color: #000000;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 18px;
}
.modal a:hover,
.modal a:focus {
    color: darkred;
    font-weight: bold;
}
.modal input,
.modal textarea {
    border: none;
    background-color: #f2f2f2;
}
.modal fieldset {
    width: 960px;
    height: 553px;
    border: none;
    box-shadow: 10px 10px 20px #00000020, -10px 10px 20px #00000020;
}
.write-us input {
    width: 360px;
    height: 50px
}
.write-us textarea {
    width: 760px;
    height: 156px;
}
.modal table {
    border-spacing: 40px;
}
[placeholder] {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 18px;
    color: #464646;
}
.write-us-form .button {
    font: inherit;
    background-color: #ffffff;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
}
.write-us-form .button::before {
    content: " ";
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
}
.write-us-form:hover .button::before {
    height: 40px;
}
.login-form {
    background-color: inherit;
    width: 280px;
    height: 230px;
    box-shadow: 10px 10px 20px #00000020, -10px 10px 20px #00000020;
}
.login .login-checkbox {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #464646;
}
.login .button {
    font: inherit;
    background-color: #ffffff;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
}
.login .button::before {
    content: " ";
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
}
.login:hover .button::before {
    height: 40px;
}
.modal .search {
    background-color: inherit;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 20px #00000020, -10px 10px 20px #00000020;
}
.search .button {
    font-family: "Opoen Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 30px;
    background-color: #ffffff;
    width: 85px;
    height: 49px;
    border: 2px solid #000000;
}
.search .button:hover,
.search .button:focus {
    color:#ffffff;
    background-color: #000000;
}
.search .button:active {
    color: #ffffff70;
    background-color: #000000;
}

/* Стилизация Каталога */

.page-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}
.breadcrumbs {
    list-style: none;
}
.breadcrumbs a,
.breadcrumbs-current {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    color: #00000030;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: #00000060;
}
.breadcrumbs a:active {
    color: #00000010;
}
.breadcrumbs-current {
    color: #00000030;
}
.main-filters::before {
    content: "";
    background-color: #00000008;
    width: 1534px;
    height: 70px;
    position: absolute;
    z-index: -1;
}
.filters::before {
    content: "";
    background-color: #00000008;
    width: 468px;
    height: 1283px;
    position: absolute;
    z-index: -1;
}
.filters fieldset {
    border: none;
}
.main-filters,
.filter-option,
.sorting-filters {
    list-style: none;
}
p.filter {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}
.main-filters legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
}
.filter-input + label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 40px;
    color: #000000;
}
.filter-input:hover,
.filter-input:focus {
    color: #000000;
    opacity: 60%;
}
.filter-input:active {
    color: #000000;
    opacity: 100%;
}
.filter-input:disabled + label {
    color: #a6a6a6;
}
.filter-button {
    border: none;
    background-color: #ffffff;
}
.filter-button h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.filter-button h3::before {
    content: " ";
    background-color: #f0c52e;
    position: absolute;
    width: 220px;
    height: 8px;
}
.filter-button:hover h3::before {
    display: block;
    height: 40px;
}
.sorting-filters a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
    opacity: 30%;
}
.sorting-filters-current a {
    color: #000000;
    opacity: 100%;
}
.sorting-filters a:hover,
.sorting-filters a:focus {
    color: #000000;
    opacity: 60%;
}
.sorting-filters a:active {
    color: #000000;
    opacity: 100%;
}
/* Делаем стрелки сортировки */
a.arrow {
    margin: 0 10px;
    font-size: 0px;
}
.arrow::before {
    display: inline-block;
    content: " ";
    border: 20px solid #00000020;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.arrow-up::before {
    border-top-width: 0px;
}
.arrow-down::before {
    border-bottom-width: 0px;
}   
.arrow-icon-up:hover .arrow-up::before,
.arrow-icon-up:focus .arrow-up::before {
    border: 20px solid #00000040;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
}
.arrow-icon-down:hover .arrow-down::before,
.arrow-icon-down:focus .arrow-down::before {
    border: 20px solid #00000040;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0px;
}
.arrow-icon-up:active .arrow-up::before {
    border: 20px solid #000000;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
}
.arrow-icon-down:active .arrow-down::before {
    border: 20px solid #000000;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0px;
}
.catalog ul {
    list-style: none;
}
.catalog a {
    color: #000000;
}
.catalog h4 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    width: 254px;
    height: 70px;
    word-wrap: break-word;
    text-align: left;
}
.catalog-item-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    width: 160px;
    height: 80px;
    word-wrap: break-word;
    text-align: right;
}
.catalog-button {
    border: none;
    background-color: #ffffff;
    outline: #ffffff;
}
.cart .catalog-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.cart .catalog-button:active {
    color: #00000030;
}
.cart h3::before {
    content: "";
    background-color: #f0c52e;
    width: 200px;
    height: 8px;
    position: absolute;
}
.cart:hover h3::before,
.cart:focus h3::before,
.cart:active h3::before {
    width: 200px;
    height: 40px;
    position: absolute;
}
.match .catalog-button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: lighter;
    line-height: 36px;
    color: #00000050;
}
.match:hover .catalog-button,
.match:focus .catalog-button {
    color: #000000;
}
.match:active .catalog-button {
    color: #00000020;
}
.image-1:hover .image-1 {
    filter: opacity(70%);
}
.image-1 .cart,
.image-1 .match {
    display: none;
}
.image-1:hover .cart,
.image-1:hover .match {
    display: block;
}
.image-2:hover .image-2 {
    filter: opacity(70%);
}
.image-2 .cart,
.image-2 .match {
    display: none;
}
.image-2:hover .cart,
.image-2:hover .match {
    display: block;
}
.image-3:hover .image-3 {
    filter: opacity(70%);
}
.image-3 .cart,
.image-3 .match {
    display: none;
}
.image-3:hover .cart,
.image-3:hover .match {
    display: block;
}
.image-4:hover .image-4 {
    filter: opacity(70%);
}
.image-4 .cart,
.image-4 .match {
    display: none;
}
.image-4:hover .cart,
.image-4:hover .match {
    display: block;
}
.pagination-list {
    list-style: none;
}
.pagination-list::before {
    content: " ";
    width: 760px;
    height: 70px;
    background-color: #00000008;
    position: absolute;
    z-index: -1;
}
.pagination-item {
    width: 126px;
    height: 70px;
}
.pagination-list .button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    background-color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 126px;
    height: 70px;
}
.pagination-list a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #00000030;
    width: 126px;
    height: 70px;
    z-index: 1;
}
.pagination-item-current a {
    color: #000000;
}
.catalog-button-back:hover,
.catalog-button-back:focus,
.catalog-button-next:hover,
.catalog-button-next:focus {
    background-color: #00000008;
    width: 126px;
    height: 70px;
    z-index: 1;
}
.catalog-button-back:active,
.catalog-button-next:active {
    opacity: 30%;
}
.pagination-item:hover a,
.pagination-item:focus a {
    color: #00000060;
}
.pagination-item:active a {
    color: #000000;
}
.pagination-item-current:hover a,
.pagination-item-current:focus a,
.pagination-item-current:active a {
    color: #000000;
}

/*РАЗМЕЧАЕМ СЕТКУ*/

/*Header*/
.main-header {
    width: 1160px;
    height: 299px;
}
.main-navigation {
    display: flex;
    /* height: 300px; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
}
div.navigation {
    width: 100%;
}
.user-navigation {
    display: flex;
    width: 1040px;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 53px;
    padding-left: 60px;
    padding-right: 60px;
}
.user-navigation li:nth-child(2) {
    margin-left: auto;
    width: 280px;
}
.user-navigation li:nth-child(3) {
    width: 130px;
}
.site-navigation {
    display: flex;
    width: 1040px;
    height: 18px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 140px;
    /* margin-bottom: 40px; */
    padding-left: 60px;
    padding-right: 60px;
}
ul.site-navigation li:nth-child(2) {
    margin-left: auto;
    width: 160px;
}
ul.site-navigation li:nth-child(3) {
    width: 220px;
}
.submenu-container .submenu {
    display: flex;
    min-width: 639px;
    height: 129px;
    flex-direction: row;
    margin-top: 0px;
    padding-top: 37px;
    padding-left: 0px;
    position: absolute;
    margin-bottom: 0px;
}
ul.submenu li.catalog-item {
    margin-left: 0px;
}
.block-1 {
    display: flex;
    height: 130px;
    flex-direction: column;
    min-width: 239px; 
}
.block-2 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 130px;
}
.block-3 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 130px;
} 

/*Сетка Slide в Main*/
.slide {
    display: flex;
    /* justify-content: space-around; */
    width: 1160px;
    /* justify-content: center; */
    /* margin-left: 140px; */
}
.slide-navigation .form {
    display: flex;
    width: 100px;
    margin-top: 266px;
    margin-left: 1139px;
    /* margin-right: 80px; */
    justify-content: space-between ;
    /* margin-right: 223px; */
    position: absolute;
}
.slide p.slide-number {
    margin: -120px 60px 335px 335px;
    padding-top: 10px;
    position: absolute;
}
.slide .info {
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 380px;
    margin-left: auto;
    padding: 0px;
    margin-top: 0px;
}
.slide .image {
    margin-top: -70px;
    margin-left: 230px;
    width: 384px;
    height: 486px;
}
.info h2 {
    margin-top: 0px;
    margin-bottom: 2px;
}
.slide-text {
    margin-top: 0px;
    margin-bottom: 37px;
}
.details {
    margin-top: 0px;
    margin-bottom: 72px;
}
.slide-table {
    margin-top: 0px;
    margin-bottom: 117px;
}
/* РАЗМЕЧАЕМ POPULAR-LIST */
.popular-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 160px;
    margin-left: 140px;
    margin-bottom: 126px;
    padding: 0;
}
.popular-list .image{
    display: flex;
    width: 160px;
    height: 160px;
    margin-bottom: 41px;
    justify-content: center;
    align-items: center;
}
.popular-item-2 .image {
    align-items: flex-end;
}
.popular-list p.name {
    display: flex;
    width: 160px;
    height: 80px;
    margin-bottom: 126px;
    justify-content: space-between;
}

/* РАЗМЕЧАЕМ SERVICE */
.conteiner-service {
    display: flex;
    margin-bottom: 94px;
    min-height: 390px;
}
.service-list {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    min-height: inherit;
    margin-left: 140px;
    padding-left: 0;
}
.service-item .delivery,
.service-item .warranty,
.service-item .credit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-flex {
    display: flex;
    margin-left: 240px;
    padding: 0px;
    min-width: 700px;
}
.service p.text {
    width: 437px;
    height: 158px;
    background-color: transparent;
    padding: 0px;
}
.service-flex .image {
    width: 136px;
    height: 164px;
    margin-left: 121px;
    padding: 0px;
}
/* Размечаем логотипы партнеров */
.partners-logo .logo {
    display: flex;
    width: 1160px;
    height: 100px;
    margin-left: 140px;
    padding: 0px;
    justify-content: space-between;
}