    body {
        width: 1160px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 30px;
        color: #000000;
        background-color: #ffffff;
        background-image: url("/device/images/background.png");
        background-position: top left;
        background-repeat: repeat;
    }
    .visually-hidden {
        display: none;
    }
    /* Размечаем Header */
    
    .main-header {
        max-width: 1160px;
        height: 300px;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    
    .main-header-logo {
        /* display: flex; */
        width: 168px;
        height: 35px;
        margin-top: -19px;
        margin-left: 60px;
        margin-bottom: 35px;
        padding: 0px;
        position: absolute;
        z-index: 1;
    }
    .main-header-logo:hover {
        opacity: 60%;
    }
    .main-header-logo:active {
        opacity: 30%;
    }
    /* отменяем маркеры */
    .site-navigation,
    .user-navigation,
    .submenu {
        list-style: none;
    }
    /* меняем цвет ссылкам */
    .site-navigation a,
    .user-navigation a {
        color: #000000;
    }
    /* Делаем ссылки интерактивными */
    .main-navigation .site-navigation a:hover,
    .main-navigation .site-navigation a:focus,
    .main-navigation .user-navigation a:hover,
    .main-navigation .user-navigation a:focus {
        color: #00000060;
    }
    .main-navigation .site-navigation a:active,
    .main-navigation .user-navigation a:active {
        color: #00000030
    }
    /* Делаем сетку */
    .main-navigation {
        display: flex;
        flex-direction: column;
        width: 1040px;
        height: 300px;        
        margin: 0;
        margin-top: 40px;
        margin-left: 60px;
        padding: 0;
    }
    .main-navigation::before {
        content: "";
        background-color: #f7e296;
        width: 1160px;
        height: 300px;
        position: absolute;
        margin: 0;
        margin-left: -60px;
        /* margin-top: 40px; */
        padding: 0;
        z-index: -1;
    }

    .main-navigation .user-navigation .search.current {
        color: #00000030;
    }
    .main-navigation .user-navigation .search.current:hover,
    .main-navigation .user-navigation .search.current:focus {
        color: #00000060;
    }

    .main-navigation .user-navigation {
        max-width: 1040px;
        height: 30px;
        margin-top: 45px; /* выставил с учетом размера шрифта */
        margin-bottom: 40px; /* выставил с учетом размера шрифта */
    }
    .main-navigation ul.user-navigation {
        margin: 0;
        padding: 0;
        display: flex;
    }
    .main-navigation .user-navigation li:nth-child(1) {
        width: 240px;
    }
    .main-navigation .user-navigation li:nth-child(2) {
        margin-left: auto;
        width: 280px;
    }
    .main-navigation .user-navigation li:nth-child(3n) {
        width: 120px;
    }
    .main-navigation .user-navigation li:nth-child(4n) {
        width: 100px;
    }
    /* добавляем в падинги иконки */
    .main-navigation .user-navigation a.search {
        display: block;
        padding-left: 40px;
        position: relative;
    }
    .main-navigation .user-navigation a.search::before {
        content: " ";
        width: 16px;
        height: 16px;
        background-image: url("../svg/search.svg");
        position: absolute;
        left: 0px;
        top: 7px;        
    }
    .main-navigation .user-navigation a.login-link {
        display: block;
        padding-left: 25px;
        position: relative;
    }
    .main-navigation .user-navigation a.login-link::before {
        content: " ";
        width: 13px;
        height: 12px;
        background-image: url("../svg/user.svg");
        position: absolute;
        left: 0px;
        top: 9px;
    }
    .main-navigation .user-navigation a.compare {
        display: block;
        padding-left: 25px;
        position: relative;
    }
    .main-navigation .user-navigation a.compare::before {
        content: " ";
        width: 10px;
        height: 10px;
        background-image: url("../svg/compare.svg");
        position: absolute;
        left: 6px;
        top: 10px;
    }
    .main-navigation .user-navigation a.cart {
        display: block;
        padding-left: 40px;
        position: relative;
    }
    .main-navigation .user-navigation a.cart::before {
        content: " ";
        width: 12px;
        height: 12px;
        background-image: url("../svg/cart.svg");
        position: absolute;
        left: 17px;
        top: 9px;
    }
    .main-navigation .site-navigation {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 3px;
        max-width: 1040px;
        height: 24px;
        margin: 0;
        margin-bottom: 31px;
        padding: 0;
    }
    .main-navigation ul.site-navigation {
        display: flex;
        padding-inline-start: 0;
    }
    .main-navigation a.catalog {
        display: block;
        padding-right: 30px;
        position: relative;
        width: 220px;
        white-space: nowrap;
    }
    .main-navigation a.catalog:after {
        content: " ";
        width: 16px;
        height: 16px;
        background-image: url("../svg/plus.svg");
        opacity: 30%;
        position: absolute;
        top: 4px;
        margin-left: 16px;
    }
    .main-navigation ul.site-navigation li.catalog {
        width: 250px;
    }
    .main-navigation ul.site-navigation li.delivery {
        margin-left: auto;
        width: 160px;
    }
    .main-navigation ul.site-navigation li.warranty {
        width: 220px;
    }
    .main-navigation ul.site-navigation li.contacts {
        width: 120px;
    }
    
    /* делаем выпадающее меню */
    li.catalog ul.submenu {
        display: none;
    }
    li.catalog:hover ul.submenu {
        display: flex;
    }
    li.catalog ul.submenu {
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 15px;
        font-weight: lighter;
        line-height: 36px;
        color: #000000;
        text-transform: none;
        letter-spacing: normal;
        z-index: 2;
    }
    .submenu::before {
        content: " ";
        background-color: #f7e296;
        min-width: 1160px;
        height: 131px;
        position: absolute;
        margin-left: -60px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        z-index: -1;
    }
    .submenu-container .submenu {
        display: flex;
        min-width: 639px;
        height: 131px;
        flex-direction: row;
        margin-top: 0px;
        padding-top: 31px; /* выставил с учетом размера шрифта */
        padding-left: 0px;
        position: absolute;
        margin-bottom: 0px;
        padding-inline-start: 0px;
    }
    .submenu .block-1 {
        display: flex;
        margin: 0;
        padding: 0;
        min-height: 131px;
        flex-direction: column;
        min-width: 239px; 
    }
    .submenu .block-2 {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        min-width: 200px;
        height: 13px;
    }
    .submenu .block-3 {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        min-width: 200px;
        height: 131px;
    }
    /* Размечаем Main */

    /* Разметка и стиль для сладера */
    .slide-navigation .current1,
    .slide-navigation .current2,
    .slide-navigation .current3 {
        list-style: none;
    }
    .slide h2 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 56px;
        width: 560px;
        height: 158px;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 8px;
    }
    .slide h2::before {
        display: block;
        content: "";
        width: 100px;
        height: 7px;
        position: relative;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .slide a {
        color: #000000;
    }
    .slide .details a {
        display: flex;
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        width: 220px;
        letter-spacing: 5px;
        text-transform: uppercase;
        justify-content: center;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    /* Добавляем псевдоэлемент, рисуем линию */
    .layer .details::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 220px;
        height: 8px;
        margin: 0;
        padding: 0;
        z-index: -1;
    }
    .layer:hover .details::before {
        display: block;
        height: 40px;
    }
    .slide p.slide-number {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 179.2px;
        font-weight: bold;
        line-height: 179.2px;
        color: #ffffff;
        z-index: 0;
    }
    .slide .slide-value td {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 36px;
        font-weight: lighter;
        line-height: 48px;
        margin: 0;
        padding: 0;
    }
    .slide .slide-feature td {
        font-family: "Open Sans", "Arial", sans-serif;
        font-size: 13px;
        font-weight: lighter;
        line-height: 20px;
        margin: 0;
        padding: 0;
    }
    #slider2, #slider3 {
        display: none;
    }

    /*Сетка Slide в Main*/
    .slide-section {
        max-width: 1160px;
        height: 486px;
        margin: 0;
        padding: 0;
        margin-top: -110px;
        margin-bottom: 106px;
    }
.slide {
    display: flex;
    width: 1160px;
    height: 486px;
}
.slide-navigation .form {
    display: flex;
    width: 80px;
    min-height: 12px;
    margin: 0;
    padding: 0;
    margin-left: 1000px;
    margin-top: 310px;
    justify-content: space-between ;
    position: absolute;
}
.slide .info {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 486px;
    margin: 0;
    margin-left: 126px;
    padding: 0px;
    /* margin-top: 35px; */
}
.slide p.slide-number {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 330px;
    position: absolute;
    margin-top: -25px;
}
.slide .image {
    margin-left: 90px;
    width: 384px;
    height: 486px;
}
.slide-text {
    display: inline-block;
    position: relative;
    width: 560px;
    height: 70px;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
}
.details {
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 63px;
}
.slide-table {
    margin: 0;
    padding: 0;
    width: 560px;
    height: 65px;
    border-spacing: 0;
    /* margin-bottom: 117px; */
}
    /* Размечаем Popular-list */
.popular {
    width: 1160px;
    height: 280px;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}
.popular-list {
    list-style: none;
}
.popular-list a {
    color: #000000;
}
.popular-list p {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 80px;
}        
.popular-item-1::before {
    content: " ";
    background-color: #f7e296;
    width: 160px;
    height: 160px;
    position: absolute;
    z-index: -1;
}
    .popular-item-2::before {
        content: " ";
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -1;
    }
    .popular-item-3::before {
        content: " ";
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -1;
    }
    .popular-item-4::before {
        content: " ";
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -1;
    }
    .popular-item-5::before {
        content: " ";
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -1;
    }
   .popular-item-6::before {
        content: " ";
        background-color: #f7e296;
        width: 160px;
        height: 160px;
        position: absolute;
        z-index: -1;
    }
    /* РАЗМЕЧАЕМ POPULAR-LIST */
.popular-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    height: 245px;
    margin: 0;
    padding: 0;
}
.popular-list .image{
    display: flex;
    width: 160px;
    height: 160px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
.popular-item-2 .image {
    align-items: flex-end;
}
    /* Размечаем секцию сервиса */
    #warranty,
    #credit {
        display: none;
    }
    .service {
        margin: 0;
        padding: 0;
        width: 1160px;
        height: 388px;
        margin-bottom: 94px;
    }
    .service-list {
        list-style: none;
    }
    .service a {
        text-decoration: none;
        color: #000000;
    }
    .service h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 48px;
        color: #000000;
    }
    .service-list a {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
        word-spacing: 48px;
    }
    li.service-item a.delivery::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 160px;
        height: 8px;
        z-index: -1;
    }
    li.service-item:hover a.delivery::before {
        height: 40px;
    }
    li.service-item a.warranty::before {
        content: " ";
        background-color: #f0c52e;
        position: absolute;
        width: 160px;
        height: 8px;
        z-index: -1;
    }
    li.service-item:hover a.warranty::before {
        height: 40px;
    }
    li.service-item a.credit::before {
        content: "";
        background-color: #f0c52e;
        position: absolute;
        width: 160px;
        height: 8px;
        z-index: -1;
    }
    li.service-item:hover a.credit::before {
        display: flex;
        height: 40px;
    }
    /* Вертикальная линия */
    .service ul.service-list::before {
        content: " ";
        background-color: #000000;
        width: 7px;
        height: 319px;
        position: absolute;
        margin: 0;
        padding: 0;
        margin-left: 280px;
        /* padding-left: 0px; */
        /* padding-top: 0px; */
        margin-top: -90px;
    }
    /* Подложка на всю ширину */
.service::before {
    content: " ";
    background-color: #e5e5e5;
    position: absolute;
    width: 100%;
    height: 288px;
    left: 0;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    z-index: -1;
}
    /* РАЗМЕЧАЕМ СЕТКУ SERVICE */
.conteiner-service {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 388px;
    margin-bottom: 94px;
}
.service-list {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    /* height: 380px; */
    margin: 0;
    padding: 0;
    margin-top: 90px;
    /* min-height: inherit; */
    /* margin-left: 140px; */
    /* padding-left: 0; */
}
.service-item .delivery,
.service-item .warranty,
.service-item .credit {
    display: flex;
    min-width: 125px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.service-flex {
    min-width: 700px;
    height: 220px;
    margin: 0;
    padding: 0;
    margin-left: 240px;
    margin-top: 73px;
}
.service-flex .delivery,
.service-flex .warranty,
.service-flex .credit {
    display: flex;
    min-width: 700px;
}
.service-flex h2 {
    width: 219px;
    height: 52px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}
.service-flex p.text {
    width: 437px;
    height: 158px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.service-flex .image {
    width: 136px;
    height: 164px;
    margin: 0;
    margin-top: 15px;
    margin-left: 121px;
    padding: 0;
}
    /* Размечаем логотипы партнеров */
    .partners-logo ul {
        list-style: none;
    }
    .partners-logo .logo-1 {
        background-color: #ffffff ;
        opacity: 20%;
        filter: grayscale(100%);
    }
    .partners-logo .logo-1:hover, 
    .partners-logo .logo-1:focus {
        filter: grayscale(0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    .partners-logo .logo-2 {
        filter: grayscale (100%);
        background-color: #ffffff;
        opacity: 20%;
    }
    .partners-logo .logo-2:hover, 
    .partners-logo .logo-2:focus {
        filter: grayscale (0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    .partners-logo .logo-3 {
        filter: grayscale (100%);
        background-color: #ffffff;
        opacity: 20%;
    }
    .partners-logo .logo-3:hover, 
    .partners-logo .logo-3:focus {
        filter: grayscale (0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    .partners-logo .logo-4 {
        filter: grayscale(100%);
        background-color: #ffffff;
        opacity: 20%;
    }
    .partners-logo .logo-4:hover, 
    .partners-logo .logo-4:focus {
        filter: grayscale (0%);
        background-color: #ffffff;
        opacity: 100%;
    }
    /* размечаем контактную  информацию */
    .about-us ul {
        list-style: none;
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
        color: #000000;
        background-color: #ffffff;
    }
    .about-us h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 48px;
        width: 132px;
        height: 52px;
        margin-bottom: 139px;
        padding: 0;
    }
    .about-us h2::before {
        content: " ";
        width: 80px;
        height: 7px;
        background-color: #000000;
        display: block;
        margin-bottom: 49px;
        padding: 0px;
    }
    .about-us .about-us {
        width: 472px;
        height: 317px;
        margin-bottom: 76px;
        padding: 0px;
        color: #464646;
    }
    .about-us .details-about-us {
        display: flex;
        font-family: "Gilroy", "Arial", sans;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
        width: 219px;
        height: 20px;
        margin-left: 22px;
        padding-left: 0px;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
    .details .details-about-us::before {
        content: ""; 
        display: flex;
        background-color: #f0c52e;
        width:  260px;
        height: 8px;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: -1;
    }
    .details:hover .details-about-us::before {
        width:  260px;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 40px;
        z-index: -1;
    } 
    .contacts h2 {
        font-family: "Gilroy", "Arial", sans-serif;
        font-size: 47px;
        font-weight: bold;
        line-height: 48px;
        width: 220px;
        height: 52px;
        margin-bottom: 139px;
        padding: 0;
    }
    .contacts h2::before {
        content: " ";
        width: 80px;
        height: 7px;
        background-color: #000000;
        display: block;
        margin-bottom: 49px;
        padding: 0px;
    }
    .contacts p.text {
        color: #464646;
        width: 562px;
        height: 89px;
        margin-bottom: 1px;
        padding: 0px;
    }
    .contacts .image {
        width: 560px;
        height: 222px;
        margin-top: 0px;
        margin-bottom: 81px;
        padding: 0px;
    }
    .contacts-form .write-us {
        display: flex;
        font-family: "Gilroy", "Arial", sans;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 5px;
        width: 183px;
        height: 20px;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    .contacts-form .write-us::before {
        display: flex;
        content: "";
        background-color: #f0c52e;
        width:  260px;
        height: 8px;
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
    .contacts-form:hover .write-us::before {
        height: 40px;
    }

    /* Размечаем FOOTER  */
.main-footer ul {
    list-style: none;
}
.main-footer {
    color: #ffffff;
}
.main-footer a {
    color: #ffffff;
}
.main-footer::before {
    content: "";
    width: 1440px;
    height: 323px;
    background-color: #464646;
    position: absolute;
    z-index: -1;    
}
.main-footer .footer-contact-adress,
.main-footer .footer-contact-tel {
    width: 261px;
    height: 22px;
}
.main-footer-navigation .main-footer-navigation{
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* width: 124px;
    height: 20px; */
}
.main-footer-navigation .user-navigation {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 36px;
    min-width: 360px;
    height: 16px;
}
.main-footer .footer-social {
    opacity: 30%;
}
.main-footer .footer-contact-adress::after {
    display: flex;
    content: " ";
    background-color: #ffcc00;
    width: 80px;
    height: 7px;
    position: absolute;
    margin-top: 76px;
}

/* Стилизация модальных окон */
.modal {
    list-style: none;
    background-color: #ffffff;
    background-color: transparent;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.modal a {
    color: #000000;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 18px;
}
.modal a:hover,
.modal a:focus {
    color: darkred;
    font-weight: bold;
}
.modal input,
.modal textarea {
    border: none;
    background-color: #f2f2f2;
}
.modal fieldset {
    width: 960px;
    height: 553px;
    border: none;
    box-shadow: 10px 10px 20px #00000020, -10px 10px 20px #00000020;
}
.write-us input {
    width: 360px;
    height: 50px
}
.write-us textarea {
    width: 760px;
    height: 156px;
}
.modal table {
    border-spacing: 40px;
}
[placeholder] {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 18px;
    color: #464646;
}
.write-us-form .button {
    font: inherit;
    background-color: #ffffff;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
}
.write-us-form .button::before {
    content: " ";
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
}
.write-us-form:hover .button::before {
    height: 40px;
}
.login-form {
    background-color: inherit;
    width: 280px;
    height: 230px;
    box-shadow: 10px 10px 20px #00000020, -10px 10px 20px #00000020;
}
.login .login-checkbox {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #464646;
}
.login .button {
    font: inherit;
    background-color: #ffffff;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: none;
}
.login .button::before {
    content: " ";
    width: 200px;
    height: 8px;
    background-color: #f0c52e;
    position: absolute;
}
.login:hover .button::before {
    height: 40px;
}
.modal .search {
    background-color: inherit;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 20px #00000020, -10px 10px 20px #00000020;
}
.search .button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    line-height: 30px;
    background-color: #ffffff;
    width: 85px;
    height: 49px;
    border: 2px solid #000000;
}
.search .button:hover,
.search .button:focus {
    color:#ffffff;
    background-color: #000000;
}
.search .button:active {
    color: #ffffff70;
    background-color: #000000;
}
/* Стилизация Каталога */
.inner-page .main-navigation::before {
    content: "";
    background-color: #f7e296;
    width: 1160px;
    height: 186px;
    position: absolute;
    /* margin-left: 140px; */
    margin-top: 40px;
    z-index: -1;
}
.page-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: bold;
    line-height: 48px;
    color: #000000;
    background-color: #ffffff;
}
.breadcrumbs {
    list-style: none;
}
.breadcrumbs a,
.breadcrumbs-current {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    color: #00000030;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: #00000060;
}
.breadcrumbs a:active {
    color: #00000010;
}
.breadcrumbs-current {
    color: #00000030;
}
.inner-page .filters::before {
    content: "";
    background-color: #00000008;
    width: 1534px;
    height: 70px;
    position: absolute;
    z-index: -1;
}
.inner-page .main-filters::before {
    display: flex;
    content: "";
    background-color: #00000008;
    width: 468px;
    min-height: 1283px;
    position: absolute;
    margin-top: 0px;
    margin-left: -200px;
    padding-top: 0px;
    padding-left: 0px;
    z-index: -1;
}
.filters fieldset {
    border: none;
}
fieldset legend::before {
    display: flex;
    content: "";
    background-color: #000000;
    width: 200px;
    height: 2px;
    /* position: absolute; */
    margin-bottom: 16px;
    margin-top: 0px;
    padding: 0px;
}
.main-filters,
.filter-option,
.sorting-filters {
    list-style: none;
}
p.filter {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 99px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 26px;
    padding: 0px;
}
.main-filters legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
}
.filter-input + label {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 40px;
    color: #000000;
}
.filter-input:hover,
.filter-input:focus {
    color: #000000;
    opacity: 60%;
}
.filter-input:active {
    color: #000000;
    opacity: 100%;
}
.filter-input:disabled + label {
    color: #a6a6a6;
}
.filter-button {
    border: none;
    background-color: #ffffff;
}
.filter-button h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: auto;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.filter-button h3::before {
    content: " ";
    background-color: #f0c52e;
    position: absolute;
    width: 220px;
    height: 8px;
}
.filter-button:hover h3::before {
    display: block;
    height: 40px;
}
.sorting-filters a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
    opacity: 30%;
}
.sorting-filters-current a {
    color: #000000;
    opacity: 100%;
}
.sorting-filters a:hover,
.sorting-filters a:focus {
    color: #000000;
    opacity: 60%;
}
.sorting-filters a:active {
    color: #000000;
    opacity: 100%;
}
/* Делаем стрелки сортировки */
a.arrow {
    margin: 0 10px;
    font-size: 0px;
}
.arrow::before {
    display: inline-block;
    content: " ";
    border: 20px solid #00000020;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.arrow-up::before {
    border-top-width: 0px;
}
.arrow-down::before {
    border-bottom-width: 0px;
}   
.arrow-icon-up:hover .arrow-up::before,
.arrow-icon-up:focus .arrow-up::before {
    border: 20px solid #00000040;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
}
.arrow-icon-down:hover .arrow-down::before,
.arrow-icon-down:focus .arrow-down::before {
    border: 20px solid #00000040;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0px;
}
.arrow-icon-up:active .arrow-up::before {
    border: 20px solid #000000;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
}
.arrow-icon-down:active .arrow-down::before {
    border: 20px solid #000000;
    border-right-width: 10px;
    border-left-width: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0px;
}
.catalog ul,
.catalog-page ul {
    list-style: none;
}
.catalog a,
.catalog-page a {
    color: #000000;
}
.catalog h4 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    width: 254px;
    height: 70px;
    word-wrap: break-word;
    text-align: left;
}
.catalog-item-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    width: 160px;
    height: 80px;
    word-wrap: break-word;
    text-align: right;
}
.catalog-button {
    border: none;
    background-color: #ffffff;
    outline: #ffffff;
}
.cart .catalog-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.cart .catalog-button:active {
    color: #00000030;
}
.cart h3::before {
    content: "";
    background-color: #f0c52e;
    width: 200px;
    height: 8px;
    position: absolute;
}
.cart:hover h3::before,
.cart:focus h3::before,
.cart:active h3::before {
    width: 200px;
    height: 40px;
    position: absolute;
}
.match .catalog-button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: lighter;
    line-height: 36px;
    color: #00000050;
}
.match:hover .catalog-button,
.match:focus .catalog-button {
    color: #000000;
}
.match:active .catalog-button {
    color: #00000020;
}
.image-1:hover .image-1 {
    filter: opacity(70%);
}
.image-1 .cart,
.image-1 .match {
    display: none;
}
.image-1:hover .cart,
.image-1:hover .match {
    display: block;
}
.image-2:hover .image-2 {
    filter: opacity(70%);
}
.image-2 .cart,
.image-2 .match {
    display: none;
}
.image-2:hover .cart,
.image-2:hover .match {
    display: block;
}
.image-3:hover .image-3 {
    filter: opacity(70%);
}
.image-3 .cart,
.image-3 .match {
    display: none;
}
.image-3:hover .cart,
.image-3:hover .match {
    display: block;
}
.image-4:hover .image-4 {
    filter: opacity(70%);
}
.image-4 .cart,
.image-4 .match {
    display: none;
}
.image-4:hover .cart,
.image-4:hover .match {
    display: block;
}
.pagination-list {
    list-style: none;
}
.pagination-list::before {
    content: " ";
    width: 760px;
    height: 70px;
    background-color: #00000008;
    position: absolute;
    z-index: -1;
}
.pagination-item {
    width: 126px;
    height: 70px;
}
.pagination-list .button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
    background-color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 126px;
    height: 70px;
}
.pagination-list a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #00000030;
    width: 126px;
    height: 70px;
    z-index: 1;
}
.pagination-item-current a {
    color: #000000;
}
.catalog-button-back:hover,
.catalog-button-back:focus,
.catalog-button-next:hover,
.catalog-button-next:focus {
    background-color: #00000008;
    width: 126px;
    height: 70px;
    z-index: 1;
}
.catalog-button-back:active,
.catalog-button-next:active {
    opacity: 30%;
}
.pagination-item:hover a,
.pagination-item:focus a {
    color: #00000060;
}
.pagination-item:active a {
    color: #000000;
}
.pagination-item-current:hover a,
.pagination-item-current:focus a,
.pagination-item-current:active a {
    color: #000000;
}

/*РАЗМЕЧАЕМ СЕТКУ*/




/* РАЗМЕЧАЕМ ЛОГОТИПЫ ДЛЯ ПАРТНЕРОВ 2 */
.partners-logo .logo {
    display: flex;
    width: 1160px;
    height: 100px;
    /* margin-top: 0px; */
    margin-left: 140px;
    padding: 0px;
    justify-content: space-between;
}
/* Размечаем ABOUT-US */
.company-information {
    display: flex;
    width: 1160px;
    min-height: 540px;
    margin-left: 139px;
    margin-bottom: 94px;
    padding: 0;
    justify-content: space-between;
}

/* Разметка FOOTER  */

.main-footer {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    min-height: 323px;
    /* margin-left: 140px; */
}
.main-footer .first-column {
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 323px;
    margin-top: 0px;
    margin-left: 140px;
    margin-bottom: 1px;
}
.main-footer-logo {
    width: 166px;
    height: 35px;
    margin: 0;
    padding-top: 64px;
    padding-bottom: 0px;
}
.footer-contact-adress {
    padding-top: 40px;
    margin: 0;
}
.main-footer .second-column {
    display: flex;
    flex-direction: column;
    width: 440px;
    min-height: 323px;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 1px;
    align-items: center;
}
    .main-footer-navigation .main-footer-navigation {
    display: flex;
    width: 423px;
    height: 20px;
    justify-content: space-between;
    margin: 0;
    padding-top: 142px;
}
.footer-social ul {
    display: flex;
    width: 150px;
    height: 32px;
    justify-content: space-between;
    margin: 0;
    padding-top: 70px;
}
.main-footer .third-column {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
    align-items: flex-end;
}
.main-footer-navigation .user-navigation {
    display: flex;
    width: 330px;
    height: 15px;
    margin: 0;
    padding-top: 73px;
    padding-left: 0px;
    justify-content: space-between;
}
.footer-contact-tel {
    /* display: flex; */
    margin: 0;
    padding-top: 52px;
    text-align: right;
}
.footer-copyright {
    width: 27px;
    height: 35px;
    margin: 0;
    padding-top: 61px;
}
/* Размечаем страницу каталога как Flex */
.inner-page .container {
    display: flex;
    flex-direction: column;
    /* margin-left: 199px; */
    margin-top: -69px;
}
.inner-page .page-title-breadcrumbs {
    display: flex;
    flex-direction: column;
    width: 1044px;
    height: 125px;
    margin-top: 0px;
    margin-left: 200px;
    margin-bottom: 50px;
    padding: 0px;
}
.inner-page .breadcrumbs {
    display: flex;
    width: 383px;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 2px;
    padding-left: 0px;
}
.inner-page .container-1 {
    display: flex;
    align-items: baseline;
}
.inner-page .main-filters {
    display: flex;
    width: 200px;
    margin-top: 0px;
    margin-left: 200px;
    padding-top: 0px;
    padding-left: 0px;
    align-items: baseline;
}
.inner-page fieldset {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.inner-page .container-2 {
    display: flex;
    width: 760px;
    min-height: 1190px;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 140px;
    padding-top: 0px;
    padding-left: 0px;
}
.inner-page .main-filters-sorting {
    display: flex;
    width: 760px;
    height: 17px;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
.main-filters-sorting .sorting-filters {
    display: flex;
    width: 305px;
    margin-top: 0px;
    margin-left: 56px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
    justify-content: space-between;
}
.arrow-icon {
    display: flex;
    height: 17px;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
}
.inner-page .catalog-page {
    display: flex;
    width: 760px;
    min-height: 1090px;
    flex-direction: column;
    margin-top: 99px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
.inner-page .catalog-list {
    display: flex;
    width: 760px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.inner-page .catalog-item .image-name-price {
    display: flex;
    width: 360px;
    height: 80px;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
.pagination-list {
    display: flex;
    width: 760px;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}
.pagination-item {
    display: flex;
    width: 160px;
    height: 17px;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: space-around;
}
